{#
/**
 * @file
 * Default theme override for comment fields.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
  'field',
  'field--' ~ field_name|clean_class,
  'field--' ~ entity_type|clean_class ~ '-' ~ field_name|clean_class ,
]
%}
{% set count = comments|filter((v, k) => k|first != "#")|length %}
<details {{ attributes.addClass(classes) }}>
  <summary>{{ 'Comments: @count'|t({'@count': count}) }}</summary>
  <div class="details-wrapper">
    {% if comments %}
      <div class="comment-list">{{ comments }}</div>
    {% endif %}
    {{ form }}
  </div>
</details>
