{% set attributes = attributes.setAttribute('id', 'qna_comment-' ~ content['#qna_comment'].id()) %}

{{ title_prefix }}

<div{{ attributes }}>
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</div>

{{ title_suffix }}
